<div
  class="w-full mx-auto grid grid-cols-1 sm:grid-cols-3 max-w-5xl border-b sm:px-15 bg-diagonal-lines sm:border-x"
>
  <div class="border-x p-4 border-b sm:border-b-0 bg-background">
    <h2 class="text-2xl text-primary">Web</h2>
    <p>
      I have built many websites for friends and community things, such as Hack
      Club YSWSes. I also build web apps to solve my problems, and for fun.
    </p>
  </div>
  <div class="border-x sm:border-l-0 p-4 border-b sm:border-b-0 bg-background">
    <h2 class="text-2xl text-primary">Infrastructure</h2>
    <p>
      I run and maintain about 40 Docker containers in my homelab which are
      behind Traefik. I have also set up SSO to everything with authentik.
    </p>
  </div>
  <div class="border-x sm:border-l-0 p-4 bg-background">
    <h2 class="text-2xl text-primary">Networking</h2>
    <p>
      I have set up VLANs in my home network for security and organization, and
      force my family to use username/password auth.
    </p>
  </div>
</div>
