---
import FormattedDateTime from "@/components/FormattedDateTime.astro";
import Layout from "@/layouts/Layout.astro";
import { postQuery, postsQuery, urlFor } from "@/lib/sanity/queries";
import { Image } from "astro:assets";
import type { PostsQueryResult, PostQueryResult } from "sanity.types";
import { sanityClient } from "sanity:client";
import { PortableText } from "@/components/portable-text";

const { slug } = Astro.params;

export const getStaticPaths = async () => {
  const posts = (await sanityClient.fetch(postsQuery)) as PostsQueryResult;
  return posts.map((post) => ({
    params: { slug: post.slug?.current ?? "" },
  }));
};

const post: PostQueryResult = await sanityClient.fetch(postQuery, { slug });

if (!post) {
  return new Response(null, { status: 404 });
}
---

<Layout title={post.title}>
  <div class="block p-4 border-b border-x">
    {
      post.image && post.image.asset && (
        <Image
          src={urlFor(post.image.asset).url()}
          width="1200"
          height="675"
          alt=""
          class="mx-auto max-w-2xl w-full"
        />
      )
    }
    <div class="space-y-1">
      <h1 class="text-4xl text-primary">{post.title}</h1>
      <p>{post.summary}</p>
      <FormattedDateTime date={post.publishedAt ?? ""} format="DATETIME" />
    </div>
  </div>
  <div class="prose border-x w-full max-w-full p-4 border-b">
    <PortableText value={post.body || []} />
  </div>
</Layout>
