---
import Layout from "@/layouts/Layout.astro";
import { projectsQuery, urlFor } from "@/lib/sanity/queries";
import { Image } from "astro:assets";
import type { Project } from "sanity.types";
import { sanityClient } from "sanity:client";

const projects = (await sanityClient.fetch(projectsQuery)) as Project[];
---

<Layout title="Projects">
  <div class="grid grid-cols-2 border-l">
    {
      projects.map((project, index) => (
        <div class="flex flex-col border-r border-b">
          {project.mainImage && project.mainImage.asset && (
            <Image
              alt={project.title ?? ""}
              class="aspect-video w-full object-cover border-b"
              height="450"
              src={urlFor(project.mainImage)
                .width(800)
                .height(450)
                .fit("crop")
                .auto("format")
                .url()}
              width="800"
            />
          )}
          <h2 class="w-full p-4 text-2xl border-b">{project.title}</h2>
          <p class="p-4">{project.description}</p>
          <div class="w-full flex flex-row mt-auto border-t">
            {project.links?.map((link) => (
              <a
                class="px-4 py-2 border-r btn-interactive"
                href={link.url}
                target="_blank"
              >
                {link.title}
              </a>
            ))}
          </div>
        </div>
      ))
    }
    {
      projects.length % 2 === 1 && (
        <div class="bg-striped-gradient border-b border-r hidden md:block" />
      )
    }
  </div>
</Layout>
