---
import Separator from "./Separator.astro";

const profiles = [
  {
    text: "Email",
    href: "mailto:me@ingo.au",
  },
  {
    text: "Signal",
    href: "",
  },
  {
    text: "GitHub",
    href: "https://github.com/ingoau",
  },
];
---

<Separator />
<footer class="max-w-5xl mx-auto w-full border-x bg-diagonal-lines bg-fixed">
  <div class="grid grid-cols-7">
    <div class="flex flex-col border-r col-span-2 pb-10">
      <div class="flex bg-background">
        <a
          href="/"
          class="p-4 btn-interactive text-xl active:font-normal font-extrabold font-mono w-full"
        >
          Ingo Wolf
        </a>
      </div>
      <div class="border-y w-full">
        <div class="flex flex-row bg-background w-fit">
          {
            profiles.map((link) => (
              <a href="/" class="px-4 py-2 btn-interactive border-r">
                {link.text}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="col-span-2"></div>
    <div class="col-span-3 bg-background border-l">
      <div class="p-2 border-b font-mono">Pages</div>
    </div>
  </div>
</footer>
<div class="border-t w-full"></div>
<div class="max-w-5xl mx-auto w-full border-x h-4"></div>
