---
import { cn } from "@/lib/utils";

const { class: className } = Astro.props;
---

<div class:list={cn("mx-auto flex h-fit w-full border-b p-4", className)}>
  <h1 class="text-primary font-mono text-6xl">
    <slot />
  </h1>
</div>
