---
import "../styles/global.css";
// import "@fontsource-variable/geist-mono"; import "@fontsource-variable/jost";
import Navbar from "../components/Navbar.astro";
import { Font } from "astro:assets";
import Search from "../components/Search.tsx";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <!-- <meta name="view-transition" content="same-origin" /> -->
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-geist-mono" preload transition:persist />
        <Font cssVariable="--font-outfit" preload transition:persist />
        <!-- <ClientRouter /> -->
        <title>Astro Basics</title>
    </head>
    <body>
        <Navbar />
        <Search client:idle />
        <div class="w-full px-4">
            <main class="max-w-5xl mx-auto w-full bg-background">
                <slot />
            </main>
        </div>
    </body>
</html>
